header nav ul{
    display: inline-flex;
}
#search{
    margin: 10px;
    float: right;
    padding: 4px;
    width: 50%;
}
.images{
    display: inline-flex;
}
h1{
    text-align: center;
}
form{
    text-align: center;
}
form input[type=text]{
    width: 300px;
    margin: 5px;
}
form input[type=email]{
    width: 300px;
    margin: 5px;
}
form textarea{
    width: 300px;
    margin: 5px;
}
input[type=submit]{
    width: 300px;
    margin: 5px;
    padding: 5px;
}